body{
	background: #B0C9E5;
}

.majorSection{
	margin: 20px auto;
	box-sizing: border-box;
	padding: 30px;
	width: 80vw;
	text-align: center;
	overflow: hidden;
	box-shadow: 7px 7px 5px -3px;
}

/*4*/


/*     HEADING     */


.headerSection{
	background: #33235F;
	border-radius: 8px 8px 0px 0px;
	border-top: 3px inset #CAB8FC;
	border-left: 3px inset #CAB8FC;
}

.headerTitle{
	font-size:50px;
}

.headerAuthor{
	font-size:30px;
	padding: 15px;
}

.headerText{
	margin: 0px;
}



/*MAIN NAVIGATION BAR*/

.navigationBar{
	display: inline-block;
	width: 60vw;
}

.navigationButton{
	display: inline-block;
	width: 19%;
}


/*        UNIVERSAL SKINS        */

.navigationSkin{
	font-family: "Trebuchet MS", Verdana, sans-serif;
	text-decoration: none;
	color: #B0C9E5;
}

.navigationSkin:hover{
	color: #428EE5;
}

.headerSkin{
	font-family: 'Signika', sans-serif;
	color: #B0C9E5;
}

/*CHAPTER NAVIGATION*/

.chapterNavigation{
	text-align: center;
	float: right;
}

.chapterList{
	margin: auto;
	list-style-type: none;
	padding: 0px 30px 20px 30px;
}

.chapterButton{
	padding: 5px;
}

.chapterButton :hover{
	color: #33235F;
}

/*     CHAPTER CONTENT    */

.contentSection{
	background: #7B709A;
	color: #08021A;
	border-radius: 0px 0px 8px 8px;
	border-top: 3px inset #7A6F99;
	border-left: 3px inset #7A6F99;
}

.chapterHeading{
	clear:right;
}

.chapterParagraph{
	text-align: left;
	line-height: 22px;
}

/*CHAPTER IMAGES*/

.chapterImage{
	margin: auto;
	width: 500px;
}

.gallery{
	display: inline-block;
	width: 60vw;
}

.image{
	margin: 10px;
	box-shadow: 7px 7px 5px -3px;
}